*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

header{    
    padding: 25px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color:#053742;
    color: #E8F0F2;
    font-weight: bold;
    font-size:x-large;
}

#logo{
    height: 200px;
    width: 200px;
}

.card-container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items:center;
    background-image: url('../assets/background.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}

.card{
    padding: 15px;    
    align-items: center;
    border-radius: 25px;
    height: 250px;
    width: 40%;
    background-color: #A2DBFAB3;
    color: #053742;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
}

p{
    padding: 10px;
    width: 90%;
}

form{
    display:flexbox;
    justify-content: center;
}

input{
    width: 80%;
    height: 25px;
    margin: 5px;
    text-align: initial;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    background-color: #E8F0F2;
    color: #053742;   
}

#acao{
    width: 50%;
    height: 30px;
    margin: 5px;    
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    background-color: #E8F0F2;
    color: #053742;
}

#acao:hover{
    background-color: #053742;
    color: #E8F0F2;
}

footer{
    height: 100px;    
    text-align: justify;
    background-color: #053742;
    color: #E8F0F2;
    font-family: 'Roboto', sans-serif;
}

a{
    color: #E8F0F2;
    font-family: 'Roboto', sans-serif; 
    padding: 10px;   
}

a:hover{
    color: #39A2DB;
}